<div class="create-dialog">
  <mat-stepper #stepper>
    <mat-step [stepControl]="formGroup1">
      <form [formGroup]="formGroup1">
        <ng-template matStepLabel>Lesson</ng-template>
        <div class="create-grid">
          <div class="row1">
            <mat-form-field appearance="fill">
              <mat-label>Title</mat-label>
              <input required matInput placeholder="Title" formControlName="title">
            </mat-form-field>
            <div>
              <div class="choosen">
                <button mat-mini-fab [matMenuTriggerFor]="menu">
                  <mat-icon>{{menuV}}</mat-icon>
                </button>
              </div>
              <mat-menu #menu class="choose-icon">
                <button mat-menu-item *ngFor="let item of icons" (click)="this.menuV = item">
                  <mat-icon [color]="((this.menuV == item)? 'accent' : '')">{{item}}</mat-icon>
                </button>
              </mat-menu>
            </div>
          </div>
          <div class="row2">
            <mat-form-field appearance="fill">
              <textarea matInput placeholder="Description" formControlName="description"></textarea>
            </mat-form-field>
            <autocomplete-tags appearance="fill" [match]="true"></autocomplete-tags>
          </div>
        </div>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="formGroup2">
      <ng-template matStepLabel>flashcards</ng-template>
      <add-flashcard></add-flashcard>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step [editable]="false">
      <ng-template matStepLabel>Done</ng-template>
      <div>
        <p>
          Lesson is done, press Create to confirm and go to your lesson.<br>
          You can always edit your lesson later.
        </p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
          <button mat-button [disabled]="(canCreate)? '' : 'disabled'" (click)="create()">Create</button>
        </div>
      </div>
    </mat-step>
  </mat-stepper>
</div>