.create-dialog {
  min-width: 50vw;
  height: 70vh;

  div.mat-horizontal-content-container > div {
    overflow-x: hidden;

    form {
      display: flex;
      flex-direction: column;

      & > div {
        display: flex;
        gap: 1rem;
        width: 100%;
        autocomplete-tags,
        mat-form-field {
          gap: 0;
          width: 100%;
        }
      }
    }
  }
  .create-grid {
    display: flex;
    flex-direction: column;
    .row1 {
      align-items: center;
      display: flex;

      mat-form-field {
        flex: 1;
      }
    }

    .mat-form-field-wrapper,
    .mat-form-field-wrapper .mat-form-field-flex,
    .mat-form-field-wrapper .mat-form-field-infix,
    .mat-form-field-wrapper textarea {
      height: 100%;
    }

    .mat-chip-list-wrapper {
      min-height: 4rem;
    }
  }
  .mat-horizontal-stepper-content {
    max-height: 50vh;
    overflow-y: auto;
  }
  .flashcards {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    mat-card.flashcard {
      .inputs {
        align-items: center;
        display: flex;
        margin-bottom: -0.75rem;
        gap: 1rem;
        mat-form-field {
          width: 100%;
          flex-grow: 1;
        }
      }
      &:hover {
        mat-card-actions {
          height: 3rem;
          transform: scaleY(1);
        }
      }
      mat-card-actions {
        height: 0;
        margin-left: 0rem;
        transform: scaleY(0);
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
