form.tab {
    min-width: 25vw;
    padding: 0 !important;        
}

form {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 1rem;    

    padding: 2rem 5%;
 
    @media screen and (min-width: 600px) {
        padding: 2rem 15%;
    }

    @media screen and (min-width: 1000px) {
        padding: 2rem 25%;
    }

    .button {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}