<div class="dialog" *ngIf="!!this.dialogRef.afterOpened">
  <h3>Login</h3>
  <form class="example-form" [formGroup]="formGroup" (ngSubmit)="login()">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input required matInput placeholder="Email" type="email" formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input required minlength="10" #input matInput placeholder="Password" type="password" formControlName="password"
        [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-hint>Forgot Password? Sorry.</mat-hint>
    </mat-form-field>
    <hr>
    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
</div>