section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  div.container {
    align-items: flex-start;
    display: flex;
    width: auto;
    flex-direction: column;
    gap: 1rem;
    .main {
      display: flex;
      align-items: flex-end;
      .info {
        .code {
          font-size: 5rem;
          font-weight: 700;
          height: 5.25rem;
        }
        .description {
          font-size: 1.5rem;
          font-weight: 400;
          height: 1.5rem;
        }
      }
      button {
        margin-bottom: 0.65rem;
      }
    }

    .details {
      width: 100%;
      font-size: 1rem;
      mat-icon {
        font-size: 1.5rem;
        width: 1em;
        height: 1em;
        vertical-align: bottom;
      }
      span {
        font-style: italic;
      }
      mat-divider {
        margin-bottom: 0.5rem;
      }
    }

    #coding-cafe svg {
      height: clamp(150px, 25vw, 250px);
      width: clamp(150px, 25vw, 250px);
      .cup > path {
        animation: cup 2s linear infinite alternate;
        transform-origin: 50% 50%;
      }

      .smoke > path {
        animation: smoke 2s infinite;
        transform-origin: 50% 50%;
      }
    }
  }
}
@keyframes smoke {
  0% {
    fill: #dedede4d;
    transform: scale(1);
  }
  50% {
    fill: #dedede86;
    transform: scale(1.1);
  }
  100% {
    fill: #dedede4d;
    transform: scale(1);
  }
}

@keyframes cup {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}
