<section>
  <div>
    <div class="main">
      <div class="info">
        <div class="code">
          404
        </div>
        <strong class="description">Page not found</strong>
      </div>
      <div class="coding-cafe">
        <img src="https://cdn.discordapp.com/attachments/823883692219957270/1039283328605503559/unknown.png"
          alt="Coding Caffee">
        <!-- TODO: coding cafe gif -->
      </div>
    </div>
    <span class="message">
      The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.
    </span>
    <a class="link" href="/">Go to home page</a>
  </div>
</section>