<a mat-button color="accent" class="author" [routerLink]="'/profile/'+input.creator?.id">
  <span>{{input.creator?.userName ?? "Delete user"}}</span>
  <mat-icon>
    account_circle
  </mat-icon>
</a>
<div class="comment-card">
  <mat-card class="comment">
    <mat-card-content>
      <div class="content">
        <span>{{ input.comment }}</span>
      </div>
      <div class="editForm hide" *ngIf="editable" [formGroup]="validComment">
        <mat-form-field appearance="outline" class="hide-hint">
          <input matInput placeholder="Add comment" formControlName="comment" required>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="action" *ngIf="editable">
    <button mat-flat-button color="warn" class="trash" (click)="editComment('delete')">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-flat-button color="primary" class="edit" (click)="editComment('edit')">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-flat-button color="accent" class="save hide" (click)="editComment('save')">
      <mat-icon>check</mat-icon>
    </button>
    <button mat-flat-button color="warn" class="cancel hide" (click)="editComment('cancel')">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="action" *ngIf="!editable">
    <button mat-flat-button color="warn" class="report" (click)="reportComment()">
      <mat-icon>report</mat-icon>
    </button>
  </div>