<div *ngIf="!!logged">
  <button color="accent" mat-button [matMenuTriggerFor]="userMenu">
    {{ logged.nickname ? logged.nickname : logged.email }}
    <mat-icon>
      account_circles
    </mat-icon>
  </button>
  <mat-menu #userMenu="matMenu" xPosition="before">
    <button mat-menu-item> {{ logged.email }} </button>
    <hr>
    <button mat-menu-item>Profile</button>
    <button mat-menu-item>...</button>
    <hr>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</div>
<div *ngIf="!logged">
  <button mat-button (click)="openDialog('login', '10ms', '50ms')">Sign in</button>
  <button mat-button (click)="openDialog('register', '10ms', '50ms')" class="btn-primary">Sign up</button>
</div>