<div class="card-stack">
  <mat-card
    appearance="outlined"
    class="filled main-flashcard"
    *ngIf="flashcards"
  >
    <mat-card-content>
      <span *ngIf="side">{{ flashcards[index].question }}</span>
      <span *ngIf="!side">{{ flashcards[index].answer }}</span>
    </mat-card-content>
    <mat-divider />
    <mat-card-actions>
      <button
        class="change-flashcard"
        mat-stroked-button
        (click)="index = index - 1"
        [disabled]="index == 0"
      >
        <mat-icon>arrow_back</mat-icon>
        Previous
      </button>
      <button class="flip-flashcard" mat-stroked-button (click)="side = !side">
        <mat-icon *ngIf="side">flip_to_front</mat-icon>
        <mat-icon *ngIf="!side">flip_to_back</mat-icon>
        Flip
      </button>
      <button
        class="change-flashcard"
        mat-stroked-button
        (click)="index = index + 1"
        [disabled]="index == flashcards.length - 1"
      >
        <mat-icon>arrow_forward</mat-icon>
        Next
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-divider></mat-divider>

  <mat-card
    *ngFor="let flaschard of flashcards"
    appearance="outlined"
    class="filled"
  >
    <mat-card-content>
      <span>{{ flaschard.question }}</span>
      <mat-divider [vertical]="true" />
      <span>{{ flaschard.answer }}</span>
    </mat-card-content>
  </mat-card>
</div>
