.tab-content {
    position: relative;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 5%;

    overflow-y: auto;
    overflow-x: visible;

    @media screen and (min-width: 600px) {
        padding: 2rem 15%;
    }

    @media screen and (min-width: 1000px) {
        padding: 2rem 25%;
    }

    .main-flashcard {
        aspect-ratio: 3/1;

        mat-card-content {
            flex: 1;
            align-items: center;
        }

        mat-card-actions {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            gap: 1rem;
            align-items: center;

            .flip-flashcard {
                padding: 0 1rem;
            }
        }
    }

    mat-card-content {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        span {
            flex: 1;
            text-align: center;
        }
    }
}
