.question {
  color: red;
  .fullwidth {
    width: 100%;
  }
  .flashcard {
    border-radius: 0.25rem;
    max-width: 16rem / 3 * 5;
    width: 100%;
    mat-card-subtitle {
      align-items: center;
      display: flex;
      justify-content: space-between;
      .content {
        flex-grow: 1;
        display: grid;
        grid-template-columns: 1fr 1ch 1fr;
        span {
          padding: 0 1ch;
        }
        & mat-divider {
          margin-right: 0.5ch;
        }
      }
    }
    mat-card-actions {
      padding: 1ch 2ch;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1ch;
      text-align: center;
      margin-bottom: -1rem;

      button {
        display: flex;
        justify-content: center;
        margin: 0 !important;
      }
      .selected {
        transition: background-color 0.1s ease-in-out;
      }
    }
  }
}
