<div class="question">
  <mat-card class="flashcard">
    <mat-card-content>
      <div class="content">
        <span> {{ question.question }}</span>
        <mat-divider vertical></mat-divider>
        <span> {{ question.answer }}</span>
      </div>
      <div class="actions">
        <button mat-stroked-button (click)="sendAnswer('true', $event)">
          <mat-icon class="material-icons-round" value="true">check</mat-icon>
          <span>True</span>
        </button>
        <button mat-stroked-button (click)="sendAnswer('false', $event)">
          <mat-icon class="material-icons-round" value="false">close</mat-icon>
          <span>False</span>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>