.question {
  .fullwidth {
    width: 100%;
  }
  .flashcard {
    border-radius: 0.25rem;
    mat-card-content {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      .content {
        display: flex;
        justify-content: center;
        overflow: hidden;
        & > span {
          overflow: hidden;
          text-align: center;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 100%;
        }
      }
      .actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 1ch;
      }
    }
  }
}
