<div class="tab-content page-container">
  <form class="add-comment">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Comment</mat-label>
      <input
        name="comment"
        matInput
        [formControl]="commentCtrl"
        [placeholder]="
          usersService.user
            ? editing == -1
              ? 'Add a comment'
              : 'Edit your comment'
            : 'Login to add a comment'
        "
      />
    </mat-form-field>

    <button
      *ngIf="editing != -1"
      type="submit"
      mat-fab
      color="warn"
      (click)="cancel()"
    >
      <mat-icon class="material-icons-outlined"> close </mat-icon>
    </button>

    <button
      type="submit"
      mat-fab
      color="primary"
      (click)="send()"
      [disabled]="!usersService.user"
    >
      <mat-icon class="material-icons-outlined">
        {{ editing == -1 ? "send" : "edit" }}
      </mat-icon>
    </button>
  </form>

  <mat-divider />

  <mat-paginator
    [length]="comments?.length"
    pageSize="25"
    (page)="getPaginatorData($event)"
    [pageSizeOptions]="[10, 25, 50]"
    showFirstLastButtons="true"
  >
  </mat-paginator>

  <mat-list>
    <mat-list-item
      *ngFor="let comment of comments | slice : lowBound : highBound"
    >
      <span matListItemTitle>{{ comment.comment }}</span>
      <button
        matListItemMeta
        style="display: flex"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        *ngIf="comment.creator?.id === usersService.user?.id"
      >
        <mat-icon> more_vert </mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="remove(comment.id)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
        <button mat-menu-item (click)="edit(comment)">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
      </mat-menu>

      <span matListItemLine>{{
        comment.creator?.userName ?? "Deleted user"
      }}</span>
    </mat-list-item>
    <mat-list-item style="text-align: center" *ngIf="!comments?.length">
      <span matListItemTitle>No comments yet</span>
      <span matListItemLine>Be the first to comment</span>
    </mat-list-item>
  </mat-list>
</div>
