.tab-content {
  position: relative;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 5%;

  overflow-y: auto;
  overflow-x: visible;

  @media screen and (min-width: 600px) {
    padding: 2rem 15%;
  }

  @media screen and (min-width: 1000px) {
    padding: 2rem 25%;
  }

  .add-comment {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  mat-card mat-card-content {
    display: flex;
  }
}
