<nav>
  <a class="brand" routerLink="home">
    <img src="./assets/logo.png" alt="logo" class="logo">
    <div>
      {{ appName }}
    </div>
  </a>
  <div class="create">
    <button mat-raised-button (click)="addNew('lesson', '10ms', '50ms')" class="create-btn" color="primary">
      Create
      <mat-icon class="expand">
        add
      </mat-icon>
    </button>
  </div>
  <nav-search></nav-search>
  <nav-user class="nav-user"></nav-user>
  <mat-progress-bar [class]="'loading-bar ' + (progressBar.hidden? '' : 'load')" color="primary"
    [value]="progressBar.value" [mode]="progressBar.mode">
  </mat-progress-bar>
  <mat-progress-bar [class]="'loading-bar ' + (loading.hidden? '' : 'load')" color="primary" [value]="loading.value"
    mode="determinate">
  </mat-progress-bar>
</nav>