<nav>
  <div class="brand">
    <img src="./assets/logo.png" alt="logo" class="logo">
    <div>
      {{ appName }}
    </div>
  </div>
  <div class="mid">
    <div>
      <button mat-raised-button [matMenuTriggerFor]="create" class="create btn-primary">
        Create
        <mat-icon class="expand">
          expand_more
        </mat-icon>
      </button>
      <mat-menu #create="matMenu">
        <button mat-menu-item (click)="addNew('lesson', '10ms', '50ms')">Lesson</button>
        <button mat-menu-item disabled>Folder</button>
      </mat-menu>
    </div>
    <nav-search></nav-search>
  </div>
  <nav-user class="nav-user"></nav-user>
  <mat-progress-bar [class]="'loading-bar ' + (bar != 'determinate'? 'load' : '')" color="primary" [mode]="bar">
  </mat-progress-bar>
</nav>