​ .chip-list-wrapper {
  min-height: 3em;
}
​ .msac-colors {
  background-color: var(--primary-color);
  color: white;
}
mat-form-field
  > div.mat-mdc-text-field-wrapper.mdc-text-field.ng-tns-c85-7.mdc-text-field--outlined.mdc-text-field--no-label
  > div
  > div.mat-mdc-form-field-infix {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
