.search {
  display: grid;
  grid-template-columns: 1fr auto;

  button {
    padding: 0;
    z-index: 999;
  }

  mat-form-field {
    overflow: hidden;

    input {
      padding-right: max(12px, var(--mdc-shape-small, 4px));
    }
  }
  .action {
    display: flex;
    flex-direction: row-reverse;
    transition: margin-right 0.2s ease-in-out;
    // margin-right: 100%;
    button {
      height: 100%;
      min-width: unset;
      aspect-ratio: 1/1;
      mat-icon {
        margin: 0;
      }
    }
  }
}
