.tab-content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    overflow-y: auto;
    overflow-x: visible;

    div.cards {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        min-height: 30vh;
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        div {
            display: flex;
            flex-direction: column;
        }
    }
}
