<div class="practice">
  <div *ngIf="round.flashcards[round.current] && display">
    <methods-boolean
      *ngIf="round.flashcards[round.current].method === methods[0].id"
      [flashcard]="round.flashcards[round.current]"
      (answer)="changeAnswer($event)"
    ></methods-boolean>
    
    <methods-multiple
      *ngIf="round.flashcards[round.current].method === methods[1].id"
      [flashcard]="round.flashcards[round.current]"
      (answer)="changeAnswer($event)"
    ></methods-multiple>
    
    <!-- <methods-match
      *ngIf="round.flashcards[round.current].method === methods[2].id"
      [flashcard]="round.flashcards[round.current]"
      (answer)="changeAnswer($event)"
    ></methods-match> -->

    <!-- <methods-write
      *ngIf="round.flashcards[round.current].method === methods[3].id"
      [flashcard]="round.flashcards[round.current]"
      (answer)="changeAnswer($event)"
    ></methods-write> -->
  </div>

  <button
    mat-raised-button
    color="primary"
    disabled="{{ simpleMode }}"
    class="change-flashcard"
    (click)="confirmAnswer()"
  >
    Confirm
  </button>

  <section>
    <mat-checkbox
      [(ngModel)]="simpleMode"
      color="primary"
      matTooltip="Skips confirm button and go to next flashcard automatically"
      matTooltipPosition="right"
    >
      Simple answer mode
      <mat-icon class="material-symbols-outlined" inline="true">
        help
      </mat-icon>
    </mat-checkbox>

    <mat-divider />
    <label>Methods:</label>
    <div>
      <mat-checkbox
        *ngFor="let method of methods; index as i"
        [(ngModel)]="methods[i].value"
        (click)="updateMethods()"
        color="primary"
      >
        {{ methods[i].name }}
      </mat-checkbox>
    </div>
  </section>
</div>
