<div class="tab-content page-container">
  <div *ngIf="round.flashcards[round.current] && display" class="cards">
    <methods-boolean
      *ngIf="round.flashcards[round.current].method === 'boolean'"
      [flashcard]="round.flashcards[round.current]"
      (answer)="changeAnswer($event)"
    ></methods-boolean>

    <methods-multiple
      *ngIf="round.flashcards[round.current].method === 'multiple'"
      [flashcard]="round.flashcards[round.current]"
      (answer)="changeAnswer($event)"
    ></methods-multiple>

    <!-- TODO: match -->
    <!-- <methods-match
      *ngIf="round.flashcards[round.current].method === methods[2].id"
      [flashcard]="round.flashcards[round.current]"
      (answer)="changeAnswer($event)"
    ></methods-match> -->

    <methods-write
      *ngIf="round.flashcards[round.current].method === 'write'"
      [flashcard]="round.flashcards[round.current]"
      (answer)="changeAnswer($event)"
    ></methods-write>

    <button
      mat-raised-button
      color="primary"
      disabled="{{ simpleMode }}"
      class="change-flashcard"
      (click)="confirmAnswer()"
    >
      Confirm
    </button>
  </div>
  <div *ngIf="!round.flashcards[round.current] || !display" class="cards">
    <mat-card>
      <mat-card-content> Content is loading... </mat-card-content>
    </mat-card>

    <button
      mat-raised-button
      color="primary"
      disabled="true"
      class="change-flashcard"
    >
      Confirm
    </button>
  </div>

  <section>
    <div
    style="width: fit-content;"
    >
      <mat-slide-toggle
      [(ngModel)]="simpleMode"
      color="primary"
      matTooltip="Skips confirm button"
      matTooltipPosition="right"
    >
      Simple answer mode
      <mat-icon class="material-symbols-outlined" inline="true">
        help
      </mat-icon>
    </mat-slide-toggle>
    </div>  

    <mat-divider />
    <label>Methods:</label>
    <div>
      <mat-checkbox
        *ngFor="let method of methods;"
        [(ngModel)]="methodsData[method].value"
        (click)="updateMethods()"
        color="primary"
        disabled="{{ methodsData[method].disabled }}"
      >
        {{ methodsData[method].name }}
      </mat-checkbox>
    </div>
  </section>
</div>
