mat-stepper {
    
    form.details {
        padding: 1rem 0;
        display: grid;
        gap: 1rem;

        grid-template-columns: 1fr auto;

        .iconBtn {
            box-shadow: none !important;
            border-style: solid;
            border-color: var(--mdc-outlined-text-field-outline-color);
            border-width: var(--mdc-outlined-text-field-outline-width);

            &:hover {
                box-shadow: none !important;
                border-style: solid;
                border-color: var(--mdc-outlined-text-field-hover-outline-color);
                border-width: var(--mdc-outlined-text-field-outline-width);
            }

            &:focus,
            &:active {
                box-shadow: none !important;
                border-style: solid;
                border-color: var(--mdc-outlined-text-field-caret-color);
                border-width: var(--mdc-outlined-text-field-focus-outline-width);
            }
        }

        & :not(.row) {
            grid-column: 1 / span 2;
        }
    }
    form.flashcard{
        display: grid;
        grid-template-columns: 1fr 1fr auto;
        gap: 1rem;

        & :not(.row) {
            grid-column: 1 / span 3;
        }

        mat-card-content {
            display: flex;
            flex-direction: row;
            gap: 1rem;
    
            span {
                flex: 1;
                text-align: center;
                word-break: break-all;
            }

            button {
                margin: -1rem;
                align-self: center;
            }
        }
    }

    .done {
        .actions {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            justify-content: flex-start;

            button:last-child {
                align-self: flex-end;
            }
        }
    }
}
