.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  section {
    display: flex;
    flex-direction: column;
    position: relative;
    & * {
      scroll-snap-align: start;
    }
  }
  .actions button {
    width: 100%;
  }
}
