<form class="main quiz">
  <!-- writing, match, choose -->
  <section id="writing">
    <lesson-question-write *ngFor="let question of quizQuestions.write; let i = index" [question]="question"
      (answer)="writeAnswer($event, i)">
    </lesson-question-write>
  </section>
  <mat-divider></mat-divider>
  <section id="meaning">
    <lesson-question-match *ngFor="let question of quizQuestions.match; let i = index" [question]="question"
      (answer)="matchAnswer($event, i)">
    </lesson-question-match>
  </section>
  <mat-divider></mat-divider>
  <section id="choose">
    <lesson-question-choose class="question" *ngFor="let question of quizQuestions.choose; let i = index"
      [question]="question" (answer)="chooseAnswer($event, i)">
    </lesson-question-choose>
  </section>
  <mat-divider></mat-divider>
  <div class="actions">
    <button mat-raised-button color="primary" (click)="submit()">Check answer</button>
  </div>

</form>