<mat-card appearance="outlined" class="filled main-flashcard" *ngIf="flashcard">
  <mat-card-content>
    <span>{{ flashcard.question }}</span>
    <mat-divider vertical="true" />
    <span>{{ flashcard.answer }}</span>
  </mat-card-content>
  <mat-divider />
  <mat-card-actions>
    <button class="change-flashcard" mat-stroked-button [ngClass]="answerValue == true ? 'active' : ''" (click)="onAnswerChange(true)">True</button>
    <button class="change-flashcard" mat-stroked-button [ngClass]="answerValue == false ? 'active' : ''" (click)="onAnswerChange(false)">False</button>
  </mat-card-actions>
</mat-card>
