.question {
  .fullwidth {
    width: 100%;
  }
  .flashcard {
    border-radius: 0.25rem;
    width: 100%;
    mat-card-content {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      .content {
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
