.question {
  .fullwidth {
    width: 100%;
  }
  .flashcard {
    border-radius: 0.25rem;
    width: 100%;
    mat-card-subtitle {
      align-items: center;
      display: flex;
      justify-content: space-between;
      .content {
        padding: 0 1ch;
        & mat-divider {
          margin-right: 0.5ch;
        }
      }
    }
    mat-card-actions {
      padding: 0.5ch 2ch;
    }
  }
}
