<div>
  <mat-tab-group selectedIndex="{{category}}" (selectedIndexChange)="updateUrl($event)" preserveContent="true" dynamicHeight="true" class="even-tabs">
    
    <mat-tab>
      <mat-divider/>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon material-icons-outlined">description</mat-icon>
        Details
      </ng-template>
      <section class="page-container">
        <!-- put lesson icon, then title, add descripion below and creator, add flashcards count (use mat-chip) and last user score using (mat-spinner) -->
        <div class="lesson-details">
          <mat-icon class="lesson-icon material-icons-outlined">{{lesson.iconPath}}</mat-icon>
          <h1 class="lesson-title">{{lesson.title}}</h1>
          <p class="lesson-description">{{lesson.description}}</p>
          <div class="lesson-creator">
            <mat-icon class="creator-icon material-icons-outlined">person</mat-icon>
            <span class="creator-name">{{lesson.creator}}</span>
          </div>
          <div class="lesson-flashcards">
            <mat-icon class="flashcards-icon material-icons-outlined">style</mat-icon>
            <span class="flashcards-count" *ngIf="lesson.flashcards">{{lesson.flashcards.length}}</span>
          </div>
          <div class="lesson-score">
            <mat-icon class="score-icon material-icons-outlined">assessment</mat-icon>
            <span class="score-value" *ngIf="lesson.score">{{lesson.score[0]}}</span>
          </div>
        </div>
      </section>
    </mat-tab>
    
    <mat-tab [disabled]="quizService.start">
      <mat-divider/>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon material-icons-outlined">style</mat-icon>
        Flashcards
      </ng-template>
      <lesson-flashcards [flashcards]="lesson.flashcards"/>
    </mat-tab>
    
    <mat-tab [disabled]="quizService.start">
      <mat-divider/>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon material-icons-outlined">school</mat-icon>
        Practise
      </ng-template>
      <lesson-practise [lesson]="lesson"/>
    </mat-tab>
    
    <mat-tab>
      <mat-divider />
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon material-icons-outlined">quiz</mat-icon>
        Quiz
      </ng-template>
      <lesson-quiz [lesson]="lesson"/>
    </mat-tab>
    
    <mat-tab [disabled]="quizService.start">
      <mat-divider/>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon material-icons-outlined">comment</mat-icon>
        Comments
      </ng-template>
      <lesson-comments [comments]="lesson.comments" [lessonId]="lesson.id"/>
    </mat-tab>

  </mat-tab-group>
</div>
