<div>
  <mat-tab-group selectedIndex="{{category}}" (selectedIndexChange)="updateUrl($event)" preserveContent="true" dynamicHeight="true" class="even-tabs">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon material-icons-outlined">style</mat-icon>
        Flashcards
      </ng-template>
      <lesson-flashcards [flashcards]="lesson.flashcards"/>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon material-icons-outlined">school</mat-icon>
        Practise
      </ng-template>
      <lesson-practise [lesson]="lesson"/>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon material-icons-outlined">quiz</mat-icon>
        Quiz
      </ng-template>
      <lesson-quiz />
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon material-icons-outlined">comment</mat-icon>
        Comments
      </ng-template>
      <lesson-comments [comments]="lesson.comments"/>
    </mat-tab>
  </mat-tab-group>
</div>
