mat-card {
    mat-card-content {
        padding: 1rem;
        text-align: center;
        word-break: break-all;
    }

    mat-card-actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        row-gap: 0.5rem;

        button {
            flex: 1;
            word-break: break-all;
        }
    }
}
