.dialog {
    .close {
        position: absolute;
        bottom: calc(100% + 1rem);
        right: 0;
    }
    .tab-body {
        display: flex;
        padding: 2rem;
        aspect-ratio: 1/1;
        & > * {
            flex-grow: 1;
        }
    }
}