mat-tabs {
    padding: 2rem 5%;
    
    overflow-y: auto;
    overflow-x: visible;

    @media screen and (min-width: 600px) {
        padding: 2rem 15%;
    }

    @media screen and (min-width: 1000px) {
        padding: 2rem 25%;
    }
}