.lesson {
  display: grid;
  justify-content: center;
  aside.menu {
    display: flex;
    flex-direction: column;
    height: fit-content;
    .block {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-size: 1.5rem;
      justify-content: center;
      text-decoration: none;
      mat-icon {
        font-size: 2.5rem;
        height: 2.5rem;
        width: 2.5rem;
        margin-right: -4px !important;
      }
    }
  }
}
