<div class="main flashcards">
  <div class="label">
    <div class="info">
      <div class="title">
        <mat-icon color="accent">{{lesson?.iconPath}}</mat-icon>
        <span>Lesson title</span>
      </div>
      <div class="actions">
        <social-share></social-share>

        <a [routerLink]="'/profile/'+lesson?.creator?.id">
          <button mat-icon-button color="accent" class="author">
            <mat-icon>
              account_circle
            </mat-icon>
          </button>
        </a>
      </div>
    </div>

    <mat-chip-set class="overflow" cdkDropListOrientation="horizontal">
      <mat-chip class="example-box" *ngFor="let tag of lesson?.tags" color="primary">
        {{tag.tagName}}
      </mat-chip>
    </mat-chip-set>

    <div class="description">
      <span>Lesson description</span>
    </div>
  </div>
  <mat-card class="flashcard">
    <mat-card-content (click)="flipFlashcard()">
      <div class="front">
        <div class="content">
          <span>{{ flashcard.question }}</span>
        </div>
      </div>
      <div class="back hidden">
        <div class="content">
          <span>{{ flashcard.answer }}</span>
        </div>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button mat-button class="prev change" (click)="changeFlashcard(-1)" [disabled]="indexFleshcard == 0">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button mat-button class="flip" (click)="flipFlashcard()">
        <mat-icon>flip</mat-icon>
      </button>
      <button mat-button class="next change" (click)="changeFlashcard(1)"
        [disabled]="indexFleshcard == (lesson?.flashcards?.length ?? 1) - 1">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <div class="flashcards">
    <lesson-cards *ngFor="let flashcard of lesson?.flashcards; let i = index " [id]="i" [input]="flashcard"
      [editable]="(lesson?.creator?.id == logged?.id)" (output)="saveFlashcard(i, $event)">
    </lesson-cards>
    <div class="submit-update" *ngIf="lesson?.creator?.id == logged?.id">
      <button mat-stroked-button color="warn" class="delete" (click)="deleteLesson()">
        Delete
        <mat-icon class="material-icons-outlined">delete</mat-icon>
      </button>
      <button mat-stroked-button color="warn" class="cancel" [disabled]="!edited" (click)="refreshLesson()">
        Cancel
        <mat-icon class="material-icons-outlined">close</mat-icon>
      </button>
      <button mat-stroked-button color="accent" class="update" [disabled]="!edited" (click)="updateLesson()">
        Submit
        <mat-icon class="material-icons-outlined">done</mat-icon>
      </button>
    </div>
  </div>
</div>