.tab-content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    overflow-y: auto;
    overflow-x: visible;
    
    .config {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0.5rem 0;
    }

    .quiz {
        flex: 1;
        div {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 0.5rem 0 0.5rem 1rem;
        }
    }
}
