.profile {
  display: grid;
  justify-content: center;
  overflow-x: hidden;
  aside.menu {
    display: flex;
    flex-direction: column;
    height: fit-content;
    .block {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-size: 1.25rem;
      justify-content: center;
      text-decoration: none;
      mat-icon {
        font-size: 3rem;
        height: 3rem;
        width: 3rem;
        margin-right: -4px !important;
      }
    }
  }

  .main {
    display: grid;
    width: 100%;
    .user {
      display: flex;
      flex-direction: column;
      .info {
        align-items: center;
        display: flex;
        justify-content: space-between;
        .title {
          display: inline-flex;
          align-items: center;
          font-size: 1.5rem;
          font-weight: bold;
          mat-icon {
            display: flex;
            justify-content: center;
            padding: 0.5rem;
            height: 2.25rem;
            width: 2.25rem;
          }
        }
        .actions {
          display: flex;
          font-size: 2.25rem;
          social-share {
            font-size: 1em;
            display: flex;
          }
        }
      }
      .lessons {
        display: flex;
        gap: 1rem;
        .stage {
          position: relative;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          gap: 0.25rem;
          padding-left: 0.5rem;
          mat-icon {
            height: 1em;
            width: 1em;
            font-size: 1em;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          span {
            margin-right: 1ch;
          }

          &::before {
            z-index: -1;
            position: absolute;
            right: 0;
            width: 2em;
            transition: width 0.15s ease-in-out;
            content: "";
            height: 2em;
            background-color: var(--my-primary);
            border-radius: 100vmax;
          }

          &:active,
          &.true {
            &::before {
              opacity: 0.5;
              transition: opacity 0.15s ease-in-out;
              width: 100%;
            }
          }

          &:hover,
          &:focus {
            &::before {
              opacity: 1;
              transition: opacity 0.15s ease-in-out, width 0.15s ease-in-out;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
