<div class="profile">
  <aside class="menu">

  </aside>
  <div class="main">
    <div class="user">
      <div class="info">
        <div class="title">
          <mat-icon color="accent">account_circle</mat-icon>
          <span>{{user?.userName}}</span>
        </div>
        <div class="actions">
          <social-share></social-share>
        </div>
      </div>
      <div class="lessons">
        <a [class]="['stage', 'done', active[0]]" routerLink="." fragment="done">
          <mat-icon>verified</mat-icon>
          <span>Done</span>
          <mat-chip>1</mat-chip>
        </a>
        <a [class]="['stage', 'learning', active[1]]" routerLink="." fragment="learning">
          <mat-icon>school</mat-icon>
          <span>learning</span>
          <mat-chip>1</mat-chip>
        </a>
        <a [class]="['stage', 'created', active[2]]" routerLink="." fragment="created">
          <mat-icon>edit</mat-icon>
          <span>Created</span>
          <mat-chip>1</mat-chip>
        </a>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div>

    </div>
  </div>
</div>