.question {
  .fullwidth {
    width: 100%;
  }
  .flashcard {
    border-radius: 0.25rem;
    width: 100%;
    mat-card-content {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      .content {
        padding: 0 1ch;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1ch;
        text-align: center;

        button {
          display: flex;
          justify-content: center;
          margin: 0 !important;
        }
      }
    }
  }
}
