<div>
  <nav [class.mat-elevation-z2]="true">
    <h2>
      <a routerLink="/home">QuizUp</a>
    </h2>
    <button mat-raised-button color="accent" (click)="create()">
      <mat-icon fontIcon="add"></mat-icon>
      Create
    </button>
    <app-search-bar></app-search-bar>
    <div class="user" *ngIf="usersServices.user">
      <a [routerLink]="['profile/', usersServices.user.id ]" class="username">{{ usersServices.user.userName }}</a>
      <button mat-icon-button>
        <mat-icon fontIcon="expand_more"/>
      </button>
    </div>
    <div class="user" *ngIf="!usersServices.user">
      <button mat-raised-button color="accent" (click)="login()">Login</button>
    </div>
  </nav>
  <mat-progress-bar [mode]="progressBar.mode" [value]="progressBar.percentage">
  </mat-progress-bar>
</div>
