<div>
  <nav [class.mat-elevation-z2]="true">
    <h2>
      <a routerLink="/home">QuizUp</a>
    </h2>
    <button mat-raised-button color="accent" (click)="create()">
      <mat-icon fontIcon="add"></mat-icon>
      Create
    </button>
    <app-search-bar></app-search-bar>
    <div class="user" *ngIf="usersServices.user">
      <a [routerLink]="['profile/', usersServices.user.id ]" class="username">{{ usersServices.user.userName }}</a>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="User menu">
        <mat-icon fontIcon="expand_more"/>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item disabled>
          <mat-icon>light_mode</mat-icon>
          <span>Theme</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
    <div class="user" *ngIf="!usersServices.user">
      <button mat-raised-button color="accent" (click)="login()">Login</button>
    </div>
  </nav>
  <mat-progress-bar [mode]="progressBar.mode" [value]="progressBar.percentage">
  </mat-progress-bar>
</div>
