nav {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    
    height: 4rem;
    padding: 0 2rem;
}
.user {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.25rem;
}