<div class="main">
  <div class="settings">
    <button mat-icon-button class="primary-hover">
      <mat-icon>{{ true ? "settings" : "settings_suggest" }}</mat-icon>
    </button>
    <mat-checkbox>Writing</mat-checkbox>
    <mat-checkbox>Choosing</mat-checkbox>
  </div>
  <mat-card class="flashcard">
    <mat-card-content>
      {{ flashcards[indexFleshcard%flashcards.length]?.flashcard?.question }}
      {{ flashcards[indexFleshcard%flashcards.length]?.flashcard?.answer }}
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <form>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Answer</mat-label>
          <input matInput [(ngModel)]="answer" [ngModelOptions]="{standalone: true}" autocomplete="off">
        </mat-form-field>
        <button mat-mini-fab color="accent" (click)="check()" type="submit">
          <mat-icon>
            check
          </mat-icon>
        </button>
      </form>
    </mat-card-actions>
  </mat-card>
</div>