<div class="main">
  <div class="settings">
    <mat-form-field appearance="fill" disabled>
      <mat-label>Methods</mat-label>
      <mat-select disabled>
        <!-- multiple [formControl]="select" -->
        <mat-select-trigger>
          settings
        </mat-select-trigger>
        <mat-option value="0">
          matching
        </mat-option>
        <mat-option value="1">
          writing
        </mat-option>
        <mat-option value="2">
          choosing
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-card class="flashcard">
    <mat-card-content>
      {{ currentQuesion }}
    </mat-card-content>
    <mat-card-actions>
      <form>
        <mat-form-field appearance="outline" class="full-width hide-hint">
          <mat-label>Answer</mat-label>
          <input matInput [(ngModel)]="answer" [ngModelOptions]="{standalone: true}" autocomplete="off">
        </mat-form-field>
        <button mat-mini-fab color="accent" (click)="check()" type="submit">
          <mat-icon>
            check
          </mat-icon>
        </button>
      </form>
    </mat-card-actions>
  </mat-card>
</div>