<div class="main">
  <div class="settings">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Methods</mat-label>
      <mat-select multiple [formControl]="selectMode">
        <mat-select-trigger>
          {{ selectMode.value?.join(', ') || 'None' }}
        </mat-select-trigger>
        <mat-option value="Write">
          Write
        </mat-option>
        <mat-option value="Select">
          Select
        </mat-option>
        <mat-option value="True/False">
          True/False
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-card class="flashcard">
    <mat-card-content>
      {{ currentQuesion }}
      <span class="answer" *ngIf="currentAnswer != ''" innerHTML="{{ currentAnswer }}"> </span>
    </mat-card-content>
    <mat-card-actions>
      <form>
        <learn-card-write *ngIf="currentMethod.toLowerCase() == 'write'" [question]="currentQuesion"
          [(answer)]="answer"></learn-card-write>
        <learn-card-select *ngIf="currentMethod.toLowerCase() == 'select'" [question]="currentQuesion"
          [answers]="answers" (answered)="answer=$event"></learn-card-select>
        <!-- <learn-card-choose *ngIf="currentMethod.toLowerCase() == 'choose'" [question]="currentQuesion" (answer)="answer=$event"></learn-card-choose> -->
        <button mat-mini-fab color="accent" (click)="checkAnswer()" type="submit" id="checkBtn">
          <mat-icon>
            check
          </mat-icon>
        </button>
      </form>
    </mat-card-actions>
  </mat-card>

  <mat-card class="custom-letters" *ngIf="letters.length != 0">
    <button *ngFor="let letter of letters" mat-raised-button color="primary" (click)="addLetter(letter, $event)">
      {{ letter }}
    </button>
  </mat-card>

  <div class="hint hide">
    <button mat-mini-fab color="primary" (click)="showHint()">
      <mat-icon>
        lightbulb
      </mat-icon>
    </button>
    <span class="hint-text" *ngIf="hint != ''">
      Answer: <strong>{{ hint }}</strong> <br>
      Rewrite it and go to the next question.
    </span>
  </div>

</div>