<div class="allow-overflow">
  <button class="close" mat-fab color="accent" [mat-dialog-close]="undefined">
    <mat-icon>close</mat-icon>
  </button>

  <h1 mat-dialog-title>{{ data.title }}</h1>
  <div mat-dialog-content>
    <p>{{ data.content }}</p>
  </div>
  <div mat-dialog-actions>
    <button
			mat-button
      [ngClass]="{
        'mat-raised-button': data.confirm.type === 'raised',
        'mat-stroked-button': data.confirm.type === 'stroked',
				'mat-flat-button': data.confirm.type === 'flat',
      }"
      *ngIf="data.confirm"
      [color]="data.confirm.color"
      [mat-dialog-close]="true"
    >
      {{ data.confirm.text }}
    </button>
    <button
      mat-button
      [ngClass]="{
        'mat-raised-button': data.cancel.type === 'raised',
        'mat-stroked-button': data.cancel.type === 'stroked',
				'mat-flat-button': data.cancel.type === 'flat',
      }"
      *ngIf="data.cancel"
      [color]="data.cancel.color"
      [mat-dialog-close]="false"
    >
      {{ data.cancel.text }}
    </button>
  </div>
</div>
