<mat-expansion-panel (opened)="panelOpenState = true; check()" (closed)="panelOpenState = false; check()">
  <mat-expansion-panel-header>

    <mat-panel-title *ngIf="!word.value">
      <mat-icon color="warn">error_outline</mat-icon>
      <errors innerHTML="Word"></errors>
    </mat-panel-title>
    <mat-panel-title *ngIf="!!word.value">
      {{word.value}}
    </mat-panel-title>

    <mat-panel-description *ngIf="!tran.value">
      <mat-icon color="warn">error_outline</mat-icon>
      <errors innerHTML="Translation"></errors>
    </mat-panel-description>
    <mat-panel-description *ngIf="!!tran.value">
      {{tran.value}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="flashcard" [formGroup]="flashcardFromGroup">

    <div>
      <mat-form-field>
        <mat-label>Word</mat-label>
        <input required matInput placeholder="Oryginal word" #word formControlName="word" (change)="check()">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Choose language</mat-label>
        <input type="text" placeholder="Choose language" matInput formControlName="wordLang"
          [matAutocomplete]="wordLang" (change)="check()">
        <mat-autocomplete autoActiveFirstOption #wordLang="matAutocomplete">
          <mat-option *ngFor="let lang of filterLangs | async" [value]="lang">
            {{lang}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Translation</mat-label>
        <input required matInput placeholder="Translated word" #tran formControlName="tran" (change)="check()">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Choose language</mat-label>
        <input type="text" placeholder="Choose language" matInput formControlName="tranLang"
          [matAutocomplete]="tranLang" (change)="check()">
        <mat-autocomplete autoActiveFirstOption #tranLang="matAutocomplete">
          <mat-option *ngFor="let lang of filterLangs | async" [value]="lang">
            {{lang}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

  </div>
</mat-expansion-panel>