<div class="flashcard-add">
  <mat-card class="flashcard">
    <mat-card-content>
      <div class="editForm" [formGroup]="validFlashcard">
        <mat-form-field appearance="outline" class="hide-hint">
          <input matInput placeholder="Question" formControlName="question" required (change)="saved=false">
        </mat-form-field>
        <mat-form-field appearance="outline" class="hide-hint">
          <input matInput placeholder="Answer" formControlName="answer" required (change)="saved=false">
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="action">
    <button mat-flat-button [color]="(saved)?'accent':'primary'" class="save" (click)="editFlashcard('save')">
      <mat-icon class="material-icons-outlined">{{(saved)?"check_circle":"check"}}</mat-icon>
    </button>
    <button mat-flat-button color="warn" class="remove" (click)="editFlashcard('remove')">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>