<mat-card class="flashcard">
  <mat-card-subtitle class="inputs" [formGroup]="flashcardsForm">

    <mat-form-field>
      <mat-label>Question</mat-label>
      <input required matInput placeholder="Question" formControlName="question" value="{{que}}">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Answer</mat-label>
      <input required matInput placeholder="Answer" formControlName="answer" value="asd">
    </mat-form-field>

    <div class="status">
      <mat-icon *ngIf="saved" color="accent">check</mat-icon>
      <mat-icon *ngIf="!saved" color="warn">close</mat-icon>
    </div>
  </mat-card-subtitle>
  <mat-card-actions>
    <button mat-stroked-button (click)="save()" color="accent">{{ (saved) ? "Saved" : "Save"}}</button>
    <button mat-stroked-button (click)="remove()" color="warn">Delete</button>
  </mat-card-actions>
</mat-card>