<h2 class="title">{{ label }}</h2>
<div class="section" *ngIf="!mustloggin">
  <div class="blocks">
    <a *ngFor="let block of blocks" class="block" [routerLink]="'/lessons/' + block.id">
      <mat-icon> {{ block.icon }} </mat-icon>
      <span>{{ block.title }}</span>
    </a>
  </div>
  <div *ngIf="!!this.usersService.loggedUser" class="add block" (click)="addNew('10ms', '50ms')">
    <mat-icon>
      add
    </mat-icon>
    add new
  </div>
  <div *ngIf="!this.usersService.loggedUser" class="add block disabled">
    <mat-icon>
      add
    </mat-icon>
    add new
  </div>
</div>
<div *ngIf="!!mustloggin">
  <errors innerHTML="You need to be logged to see this"></errors>
</div>